.btn {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    border-color: #42b72a;
}

.fondo{
    --background: rgba(0, 0, 0, 0.356) !important;
    
}

.texto{
    font-size: 15px;
}